// _dark-mode.scss

// Dark mode styles
.dark-mode {
  background-color: $portfolio-primary-dark;
  color: $portfolio-text-light;

  // Header styles for dark mode
  .header {
    background-color: darken($portfolio-header, 20%);
    color: $portfolio-text-light;
  }

  // Footer styles for dark mode
  .footer {
    background-color: darken($portfolio-sidebar, 20%);
    color: $portfolio-text-light;
  }

  .about-image::after {
    border-color: $portfolio-secondary-dark;
  }
  .cta-buttons {
    .resume-button {
      color: $portfolio-text-light;
    }
  }

  .project-card {
    background-color: #333;
    color: $portfolio-text-light;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  }

  .project-content {
    color: $portfolio-text-light;
  }
}
