// _dark-mode.scss

// Dark mode styles
.dark-mode {
  background-color: $portfolio-primary-dark;
  color: $portfolio-text-light;

  // Header styles for dark mode
  .header {
    background-color: darken($portfolio-header, 20%);
    color: $portfolio-text-light;
  }

  // Footer styles for dark mode
  .footer {
    background-color: darken($portfolio-sidebar, 20%);
    color: $portfolio-text-light;
  }
}
